/* Bottom Container ------------------ */
.bottom-container {
  color: white;
  position: relative;
  background-color: white;
  padding: 8% 8%;
}

.bottom-container [class*="col"] {
  padding: 1rem 2rem;
}
