/* Contact Container ------------------ */
.contact-container {
  position: relative;
  background-color: #f0f2f4;
  padding: 4% 8%;
}

.contact-container .display-3 {
  margin: auto;
  opacity: 0.08;
  color: #004143;
  text-shadow: 0px 2px, 2px 0px, 2px 2px;
  font-weight: 600;
  letter-spacing: -0.4rem;
  line-height: 3rem;
}

.contact-container .line {
  color: black;
  opacity: unset;
}

/* Phone Contact Images */
.contact-phone-container {
  position: relative;
  margin: 3rem 0;
  padding: 6.5rem 1rem;
}

.phone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65%;
  pointer-events: none;
}

.contact-phone-container .row {
  margin: 0;
}

.contact-phone-container .img-fluid {
  padding: 0;
}
