/* Middle Container ------------------ */
.middle-container {
  position: relative;
  background-color: #f0f2f4;
  padding: 4% 8%;
}

.middle-container .slogan-card {
  padding-bottom: 5rem;
  margin-bottom: -5rem;
}

.middle-container .display-3 {
  margin: auto;
  opacity: 0.08;
  color: #004143;
  text-shadow: 0px 3px, 3px 0px, 3px 3px;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: -0.4rem;
  line-height: 5rem;
}

.middle-container .row-bottom {
  margin-top: -5rem;
}