/* Navbar */
.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.075);
}

.nav-link:hover {
  color: #126E82
}

.navbar-nav > li {
  font-size: small;
  font-weight: 500;
  letter-spacing: .05em;
}
