/* Top Container  -------------------- */
.top-container {
  color: white;
  position: relative;
  background-color: white;
  padding: 4% 8%;
}

.top-container .display-3 {
  margin: auto;
  opacity: 0.08;
  color: #004143;
  text-shadow: 0px 3px, 3px 0px, 3px 3px;
  font-weight: 600;
  letter-spacing: -0.4rem;
  line-height: 3.5rem;
}

/* Pen Styles */
.top-container .row-pen {
  margin-top: -2rem;
}

.row-pen .line {
  color: black;
  opacity: unset;
  text-align: center;
  margin-left: 2rem;
}